<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="author" content="Aldi Duzha">
	<meta name="description" content="Free Personal CV Template, part of Awesome Bulma Templates">
	<meta name="keywords" content="bulma, cv, resume, personal, website, template, free, awesome">
	<link rel="canonical" href="https://aldi.github.io/awesome-bulma-templates/templates/cv/cv.html"/>
	<title>CV - Free Bulma Template</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous">
	<link rel="stylesheet" href="cv.css">
	<link rel="stylesheet" href="bulma-social.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
	<div class="tile is-6 is-parent" id="left">
		<article class="tile is-child pink post">
			<p class="title is-2">Hi, I'm Kate Woodman</p>
			<p class="subtitle has-text-grey">Web Designer &amp; Developer</p>
			<div class="content has-text-grey">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, magnam aut animi, excepturi voluptatum placeat dolor accusantium atque iure! Animi architecto eveniet voluptatum illo ut maiores sed, autem pariatur culpa?</p>
				<p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
			</div>
			<button class="button is-medium is-facebook" style="width: 50px;"><i class="fab fa-facebook-f"></i></button>
			<button class="button is-medium is-twitter" style="width: 50px;"><i class="fab fa-twitter"></i></button>
			<button class="button is-medium is-google" style="width: 50px;"><i class="fab fa-google-plus-g"></i></button>
			<button class="button is-medium is-linkedin" style="width: 50px;"><i class="fab fa-linkedin-in"></i></button>
		</article>
	</div>
	<div class="tile is-6 is-parent" id="right">
	</div>
</body>
</html>
