<!doctype html>
<html lang="en">
<head>
	<title>Bulma - CV Template</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
	<link rel="stylesheet" href="cv.css">
	<link rel="stylesheet" href="bulma-social.min.css">
</head>
<body>
	<div class="tile is-6 is-parent" id="left">
		<article class="tile is-child pink post">
			<p class="title is-2">Hi, I'm Kate Woodman</p>
			<p class="subtitle has-text-grey">Web Designer &amp; Developer</p>
			<div class="content has-text-grey">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, magnam aut animi, excepturi voluptatum placeat dolor accusantium atque iure! Animi architecto eveniet voluptatum illo ut maiores sed, autem pariatur culpa?</p>
				<p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
			</div>
			<button class="button is-medium is-facebook" style="width: 50px;"><i class="fab fa-facebook-f"></i></button>
			<button class="button is-medium is-twitter" style="width: 50px;"><i class="fab fa-twitter"></i></button>
			<button class="button is-medium is-google" style="width: 50px;"><i class="fab fa-google-plus-g"></i></button>
			<button class="button is-medium is-linkedin" style="width: 50px;"><i class="fab fa-linkedin-in"></i></button>
		</article>
	</div>
	<div class="tile is-6 is-parent" id="right">
		
	</div>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>
</html>
