  .column {
    display: flex;
  }

  .image {
    background-position: center center;
    background-size: cover;
    height: 400px;
    position: relative;
  }

  #left {
    padding: 7%;
  }

  #right {
    background-image: url("https://github.com/aldi/awesome-bulma-templates/raw/master/images/cv_background.jpg");
  }

  html {
    overflow-y:hidden;
    }

    .columns {
      margin-top: 0;
    }

    #right {
      width: 100%;
      height:100%;
    }

    @media (min-width: 769px) {
      #right {
        width: 50%;
      }
    }

    #right {
      background-position: center center;
      background-size: cover;
      height: 400px;
      position: relative;
    }

    @media (min-width: 769px) {
      #right {
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
      }
    }