body{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family:"helvetica","Roboto",sans-serif;
    font-size:14px;
    line-height:1.5;
    background-color:#f0f0f0
}
.main_hero {
    background-image: url("https://github.com/aldi/awesome-bulma-templates/raw/master/templates/hotel/hotel_background.jpg");
    background-size: cover;
}
a{
    text-decoration:none
}
img{
    max-width:100%
}
a.is-primary{
    background-color:#03b2e3 !important;
    border:1px solid #03b2e3 !important
}
a.is-primary:hover{
    background-color:transparent !important;
    color:#000 !important
}
a.button{
    font-size:14px
}
.main_title{
    color:#fff;
}
.columns{
    flex-wrap:wrap
}
.modal-content{
    background-color:#fff;
    padding:2em;
    border-radius:5px
}
.slider-content{
    -webkit-animation-duration:3s;
    -webkit-animation-delay:1s
}
.rooms{
    background-color:#fff;
    padding:1em;
    box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)
}
.reception-image img{
    background-color:#fff;
    padding:10px;
    box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)
}
.reception-item{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:70%;
    margin:0 auto;
    padding:1em 2em;
    background-color:#FFF;
    box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)
}
.reception-item i{
    width:20px
}
.reception-item a{
    color:#000
}
.reception-item .button{
    border:1px solid #03b2e3;
    width:50px
}
.reception-item .button i{
    width:auto;
    padding-right:5px
}
.reception-item .button:hover{
    background-color:#03b2e3;
    color:#fff
}
.mobile-only{
    display:none
}
@media only screen and (max-width: 769px){
    .reception-item{
        width:100%
    }
    .mobile-only{
        display:block
    }
    .reception-item{
        padding:1em
    }
}
@media only screen and (max-width: 350px){
    .mobile-only{
        display:none
    }
}
.gallery{
    margin:0 auto;
    padding:1.5em 1.5em 0 1.5em;
    background-color:#fff;
    box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)
}
.gallery a{
    outline:none
}
.gallery a img{
    width:100%;
    outline:none;
    background-color:#fff;
    width:calc(100% - 2em);
    box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)
}
iframe{
    box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)
}
.owl-nav{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:1em
}
.owl-nav .owl-prev,.owl-nav .owl-next{
    border:1px solid #03b2e3;
    padding:.3em 1.2em;
    background-color:#fff;
    margin:0 .5em;
    border-radius:3px
}
.owl-nav .owl-prev:hover,.owl-nav .owl-next:hover{
    background-color:#03b2e3;
    color:#fff
}
.owl-nav .disabled{
    border:1px solid gray;
    background-color:#f9f9f9;
    cursor:not-allowed !important
}
.owl-nav .disabled:hover{
    border:1px solid #03b2e3
}
@media only screen and (min-width: 300px) and (max-width: 1024px){
    .gallery a{
        width:150px
    }
}
.ed-contact-form{
    padding:2em
}
footer{
    background-color:#344157;
    border-top:3px solid #03b2e3;
    color:#fff !important
}
.footer_title{
    color:#fff !important
}
.ed-footer-sections{
    width:90%;
    margin:0 auto;
    display:flex;
    align-items:flex-start;
    flex-wrap:wrap
}
.newsletter-form{
    display:flex
}
.newsletter-form input{
    width:75%;
    height:40px;
    border:0;
    outline:none;
    padding:0 15px;
    font-size:14px;
    background-color:#5c677b;
    color:#fff
}
.newsletter-form ::-webkit-input-placeholder{
    color:#fff
}
.newsletter-form ::-moz-placeholder{
    color:#fff
}
.newsletter-form ::-ms-input-placeholder{
    color:#fff
}
.newsletter-form ::-moz-placeholder{
    color:#fff
}
.newsletter-form button{
    width:50px;
    height:40px;
    font-size:16px;
    color:#fff;
    background-color:#d77b5d;
    outline:none;
    border:0
}

.facebook-button {
  color: #fff;
  background-color: #3a589a;
  width: 50px;
}

.facebook-button:hover {
  border-color: #bdbdbd;
  color: #ffffff;
}

.twitter-button {
  color: #fff;
  background-color: #4099ff;
  width: 50px;
}

.twitter-button:hover {
  border-color: #bdbdbd;
  color: #ffffff;
}

.google-button {
  color: #fff;
  background-color: #e9544f;
  width: 50px;
}

.google-button:hover {
  border-color: #bdbdbd;
  color: #ffffff;
}

a {
  color: #fff;
}

.linkedin-button {
  color: #fff;
  background-color: #0077B5;
  width: 50px;
}

.linkedin-button:hover {
  border-color: #bdbdbd;
  color: #ffffff;
}

.is-facebook {
  color: #fff;
  background-color: #3a589a;
}

.is-facebook:hover {
  color: #ffffff;
}

.main-text {
    color: white;
}

.navbar {
    box-shadow: none;
}

.navbar-item {
    color: #484848;
}