<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="author" content="Aldi Duzha">
	<meta name="description" content="Search houses and apartments for rent anywhere within the US. View floorplans, pricing, images and more. Find your perfect rental.">
	<meta name="keywords" content="bulma, rent, apartments, page, website, template, free, awesome">
	<link rel="canonical" href="https://aldi.github.io/awesome-bulma-templates/templates/rent/rent.html"/>
	<title>Rent - Free Bulma Template</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="rent.css">
	<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
</head>
<body>
	<div id="app">
		<section class="hero is-fullheight is-light" >
			<div class="hero-head">
				<nav class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
					<div class="container">
						<div class="navbar-brand">
							<a class="navbar-item" href="rent.html">
								<img src="https://bulma.io/images/bulma-logo.png" alt="Bulma Rent" width="80" height="20">
							</a>
							<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarTopMain">
								<span aria-hidden="true"></span>
								<span aria-hidden="true"></span>
								<span aria-hidden="true"></span>
							</a>
						</div>
						<div class="navbar-menu" id="navbarTopMain">
							<div class="navbar-end">
								<a href="#"
								class="navbar-item has-text-weight-semibold">
								<span>Blog</span>
								<span class="tag is-success m-l-5">NEW</span>
							</a>
							<a href="#"
							class="navbar-item has-text-weight-semibold">Apartments</a>
							<a href="#"
							class="navbar-item has-text-weight-semibold">Houses</a>
							<a href="#" class="navbar-item has-text-weight-semibold">Post a listing</a>
							<div class="navbar-item">
								<a href="https://aldi.github.io/awesome-bulma-templates/templates/login/login.html" class="button is-primary">
									Sign in
								</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<div class="hero-body  p-b-30 ">
			<div class="container">
				<h2 class="subtitle">
					<span class="has-text-centered is-block">
						Search hundreds of thousands of apartments, condos and houses for rent.
					</span>
				</h2>
				<h1 class="title">
					<span class="is-size-2 has-text-centered is-block">Find A Place You’ll Love.</span>
				</h1>
				<div class="columns is-centered">
					<div class="column is-7">
						<div class="search-form">
							<form>
								<div class="field has-addons has-shadow-field">
									<div class="control has-icons-left is-expanded">
										<input type="text" id="mainSearch" defaultvalue="" placeholder="Find rentals in..." class="input is-large"> 
										<span class="icon is-small is-left">
											<svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
												<path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
												</path>
											</svg>
										</span>
									</div> 
									<div class="control">
										<button type="button" class="button is-large is-primary">
											<span class="has-text-weight-semibold">Go!</span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="has-text-centered">
					<img class="m-t-50" src="images/property_image.png" alt="Find rentals">
				</div>
			</div>
		</div>
	</section>
	<section class="hero is-medium has-text-centered" >
		<div class="hero-body ">
			<div class="container">
				<h2 class="subtitle">
					Find rentals in all of the major US cities.
				</h2>
				<h1 class="title">
					Rental listings updated daily.
				</h1>
				<br>
				<div class="columns is-centered">
					<div class="column is-10">
						<div class="columns is-multiline">
							<div class="column is-one-third">
								<div class="card rb-card" onclick="location.href='s/rent-rates-phoenix-az.html'">
									<div class="card-image">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Rental Rates and Rental Prices in Phoenix, AZ">
											</figure>
										</div>
									</div>
									<div class="card-content">
										<h3 class="title is-size-6 ellipsis is-ellipsis-1">
											<a class="has-text-dark" href="s/rent-rates-phoenix-az.html">
												Rental Rates and Rental Prices in Phoenix, AZ
											</a>
										</h3>
										<h4 class="subtitle is-size-7 ellipsis is-ellipsis-2">
											Phoenix has a total population of 1,626,078 and 52.70% of the population own their home. 47.30% of the occupied housing units are renters within the P...
										</h4>
									</div>
								</div>
							</div>
							<div class="column is-one-third">
								<div class="card rb-card" onclick="location.href='s/rental-rates-simi-valley.html'">
									<div class="card-image">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Rental Rates in Simi Valley and Rental Prices">
											</figure>
										</div>
									</div>
									<div class="card-content">
										<h3 class="title is-size-6 ellipsis is-ellipsis-1">
											<a class="has-text-dark" href="s/rental-rates-simi-valley.html">
												Rental Rates in Simi Valley and Rental Prices
											</a>
										</h3>
										<h4 class="subtitle is-size-7 ellipsis is-ellipsis-2">
											View average rental rates and prices in Simi Valley CA for 1 bed, 2 bed, 3 bed and all rental size properties.
										</h4>
									</div>
								</div>
							</div>
							<div class="column is-one-third">
								<div class="card rb-card" onclick="location.href='s/rental-rates-detroit.html'">
									<div class="card-image">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Rental Rates in Detroit">
											</figure>
										</div>
									</div>
									<div class="card-content">
										<h3 class="title is-size-6 ellipsis is-ellipsis-1">
											<a class="has-text-dark" href="s/rental-rates-detroit.html">
												Rental Rates in Detroit
											</a>
										</h3>
										<h4 class="subtitle is-size-7 ellipsis is-ellipsis-2">
											The average rental rate for all rental properties within Detroit is $987. The rental rates by bedrooms is as follows:  a studio is $759, a one bedroom...
										</h4>
									</div>
								</div>
							</div>
							<div class="column is-one-third">
								<div class="card rb-card" onclick="location.href='s/rentals-near-johns-hopkins-university.html'">
									<div class="card-image">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Rentals Near Johns Hopkins University">
											</figure>
										</div>
									</div>
									<div class="card-content">
										<h3 class="title is-size-6 ellipsis is-ellipsis-1">
											<a class="has-text-dark" href="s/rentals-near-johns-hopkins-university.html">
												Rentals Near Johns Hopkins University
											</a>
										</h3>
										<h4 class="subtitle is-size-7 ellipsis is-ellipsis-2">
											Johns Hopkins University is ranked number 17 in best education schools by US News and World Report.
										</h4>
									</div>
								</div>
							</div>
							<div class="column is-one-third">
								<div class="card rb-card" onclick="location.href='s/rental-properties-near-university-of-colorado-boulder.html'">
									<div class="card-image">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Rental Properties Near University of Colorado Boulder">
											</figure>
										</div>
									</div>
									<div class="card-content">
										<h3 class="title is-size-6 ellipsis is-ellipsis-1">
											<a class="has-text-dark" href="s/rental-properties-near-university-of-colorado-boulder.html">
												Rental Properties Near University of Colorado Boulder
											</a>
										</h3>
										<h4 class="subtitle is-size-7 ellipsis is-ellipsis-2">
											The University of Colorado in Boulder, CO has over 33,000 students of which a vast amount of them live off-campus close to the university.
										</h4>
									</div>
								</div>
							</div>
							<div class="column is-one-third">
								<div class="card rb-card" onclick="location.href='s/privately-owned-homes-for-rent.html'">
									<div class="card-image">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Privately Owned Homes For Rent">
											</figure>
										</div>
									</div>
									<div class="card-content">
										<h3 class="title is-size-6 ellipsis is-ellipsis-1">
											<a class="has-text-dark" href="s/privately-owned-homes-for-rent.html">
												Privately Owned Homes For Rent
											</a>
										</h3>
										<h4 class="subtitle is-size-7 ellipsis is-ellipsis-2">
											The United States has a total population of 325,719,178 and 63.60% of the population own their home. 36.40% of the occupied housing units are renters...
										</h4>
									</div>
								</div>
							</div>
							<div class="column is-one-third">
								<div class="card rb-card" onclick="location.href='s/cheap-san-antonio-apartments-for-rent.html'">
									<div class="card-image">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Cheap San Antonio Apartments For Rent">
											</figure>
										</div>
									</div>
									<div class="card-content">
										<h3 class="title is-size-6 ellipsis is-ellipsis-1">
											<a class="has-text-dark" href="s/cheap-san-antonio-apartments-for-rent.html">
												Cheap San Antonio Apartments For Rent
											</a>
										</h3>
										<h4 class="subtitle is-size-7 ellipsis is-ellipsis-2">
											San Antonio is home to many affordable apartments that fall below $800 a month in rent. San Antonio has a total population of 1,511,946 and 54.10% of...
										</h4>
									</div>
								</div>
							</div>
							<div class="column is-one-third">
								<div class="card rb-card" onclick="location.href='s/craigslist-sarasota-rentals.html'">
									<div class="card-image">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Craigslist Sarasota Rental Data">
											</figure>
										</div>
									</div>
									<div class="card-content">
										<h3 class="title is-size-6 ellipsis is-ellipsis-1">
											<a class="has-text-dark" href="s/craigslist-sarasota-rentals.html">
												Craigslist Sarasota Rental Data
											</a>
										</h3>
										<h4 class="subtitle is-size-7 ellipsis is-ellipsis-2">
											Craigslist is by far the most popular classified site in the world. Specifically for rentals, they havesignificantly more renter leads to property man...
										</h4>
									</div>
								</div>
							</div>
							<div class="column is-one-third">
								<div class="card rb-card" onclick="location.href='s/houses-for-rent-near-ohio-state-campus.html'">
									<div class="card-image">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Houses for Rent Near Ohio State Campus">
											</figure>
										</div>
									</div>
									<div class="card-content">
										<h3 class="title is-size-6 ellipsis is-ellipsis-1">
											<a class="has-text-dark" href="s/houses-for-rent-near-ohio-state-campus.html">
												Houses for Rent Near Ohio State Campus
											</a>
										</h3>
										<h4 class="subtitle is-size-7 ellipsis is-ellipsis-2">
											The Ohio State University campus currently has over 66,000 students. Many of these students live near or on campus and others commute from home outsid...
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<img class="m-t-50" src="images/city_clipart.png" alt="Rental listings">
			</div>
		</div>
	</section>
	<div class="container"><hr></div>
	<section class="hero">
		<div class="hero-body">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-7">
						<div class="columns">
							<div class="column">
								<h1 class="title m-t-60">All marketplaces</h1>
								<h2 class="subtitle">Bulma Rent provides you insights into all marketplaces.</h2>
							</div>
							<div class="column has-text-centered">
								<img class="m-t-50" src="images/house_for_rent.png" alt="Rental marketplaces">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="hero is-medium">
		<div class="hero-body">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-10">
						<div class="sub-section">
							<h3 class="title is-size-4">Find rentals in all States</h3>
							<h4 class="subtitle is-size-6">Whether you are looking for apartments or single family homes we got 'em all.</h4>
							<div class="columns">
								<div class="column">
									<div class="card rb-card" onclick="location.href='dallas-tx/houses-for-rent.html'">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Dallas houses for rent">
											</figure>
										</div>
										<div class="card-content">
											<h2 class="title is-size-6">
												<a href="#">
													Houses for rent in<br/> Dallas, TX
												</a>
											</h2>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="card rb-card" onclick="location.href='san-antonio-tx/apartments-for-rent.html'">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="San Antonio apartments for rent">
											</figure>
										</div>
										<div class="card-content">
											<h2 class="title is-size-6">
												<a href="#">
													Apartments for rent in<br/> San Antonio, TX
												</a>
											</h2>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="card rb-card" onclick="location.href='phoenix-az/houses-for-rent.html'">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Phoenix houses for rent">
											</figure>
										</div>
										<div class="card-content">
											<h2 class="title is-size-6">
												<a href="#">
													Houses for rent in<br/> Phoenix, AZ
												</a>
											</h2>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="card rb-card" onclick="location.href='denver-co/apartments-for-rent.html'">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Denver houses for rent">
											</figure>
										</div>
										<div class="card-content">
											<h2 class="title is-size-6">
												<a href="#">
													Apartments for rent in<br/> Denver, CO
												</a>
											</h2>
										</div>
									</div>
								</div>
							</div>
							<div class="columns">
								<div class="column">
									<div class="card rb-card" onclick="location.href='houston-tx/houses-for-rent.html'">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Houston houses for rent">
											</figure>
										</div>
										<div class="card-content">
											<h2 class="title is-size-6">
												<a href="#">
													Houses for rent in<br/>Houston, TX
												</a>
											</h2>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="card rb-card" onclick="location.href='san-francisco-ca/apartments-for-rent.html'">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="San Francisco apartments for rent">
											</figure>
										</div>
										<div class="card-content">
											<h2 class="title is-size-6">
												<a href="#">
													Apartments for rent in<br/>San Francisco, CA
												</a>
											</h2>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="card rb-card" onclick="location.href='san-diego-ca/houses-for-rent.html'">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="San Diego houses for rent">
											</figure>
										</div>
										<div class="card-content">
											<h2 class="title is-size-6">
												<a href="#">
													Houses for rent in <br/>San Diego, CA
												</a>
											</h2>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="card rb-card" onclick="location.href='austin-tx/apartments-for-rent.html'">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Austin apartments for rent">
											</figure>
										</div>
										<div class="card-content">
											<h2 class="title is-size-6">
												<a href="#">
													Apartments for rent in <br/>Austin, TX
												</a>
											</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="sub-section">
							<div class="columns">
								<div class="column">
									<h4 class="title is-size-6 is-uppercase">
										From the West
									</h4>
									<ul>
										<li style="font-size:0.9rem"><a href="#">Rentals in Seattle</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Las Vegas</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Portland</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in San Jose</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Mesa</a></li>
									</ul>
								</div>
								<div class="column">
									<h4 class="title is-size-6 is-uppercase">
										From the Midwest
									</h4>
									<ul>
										<li style="font-size:0.9rem"><a href="#">Rentals in Indianapolis</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Kansas City</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Minneapolis</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Albuquerque</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Columbus</a></li>
									</ul>
								</div>
								<div class="column">
									<h4 class="title is-size-6 is-uppercase">
										From the South
									</h4>
									<ul>
										<li style="font-size:0.9rem"><a href="#">Rentals in Charlotte</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Atlanta</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Nashville</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Jacksonville</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Raleigh</a></li>
									</ul>
								</div>
								<div class="column">
									<h4 class="title is-size-6 is-uppercase">
										From the East
									</h4>
									<ul>
										<li style="font-size:0.9rem"><a href="#">Rentals in Washington</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in New York</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Baltimore</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Brooklyn</a></li>
										<li style="font-size:0.9rem"><a href="#">Rentals in Boston</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="sub-section">
							<h3 class="title is-size-4">Browse by popular neighborhoods</h3>
							<div class="columns">
								<div class="column">
									<div class="card rb-card">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Washington park rentals">
											</figure>
										</div>
										<div class="card-content">
											<h3 class="title is-size-7">
												<a href="#">
													Washington Park Denver, CO
												</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="card rb-card">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Upper West Side NYC rentals">
											</figure>
										</div>
										<div class="card-content">
											<h3 class="title is-size-7">
												<a href="#">
													Upper West Side New York
												</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="card rb-card">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Downtown Dallas rentals">
											</figure>
										</div>
										<div class="card-content">
											<h3 class="title is-size-7">
												<a href="#">
													Downtown Dallas, TX
												</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="card rb-card">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Lincoln Park Chicago rentals">
											</figure>
										</div>
										<div class="card-content">
											<h3 class="title is-size-7">
												<a href="#">
													Lincoln Park Chicago, IL
												</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="card rb-card">
										<div class="card-image">
											<figure class="image is-16by9">
												<img src="https://via.placeholder.com/640x360" alt="Washington Square West Philadelphia rentals">
											</figure>
										</div>
										<div class="card-content">
											<h3 class="title is-size-7">
												<a href="#">
													Washington Sq. Philadelphia
												</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="hero is-medium is-light" >
		<div class="hero-body p-b-30">
			<div class="container">
				<div class="has-text-centered">
					<h2 class="subtitle">
						For landlords & property managers
					</h2>
					<h1 class="title">Want to Decrease Time on Market?</h1>
					<p class="m-t-30">
						<a href="https://github.com/aldi/awesome-bulma-templates" class="button is-medium is-shadowy is-primary">
							Learn more
						</a>
					</p>
					<div class="has-text-centered m-t-60">
						<img class="m-t-50" src="images/cartoon_city.png" alt="Find rentals">
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="hero is-small is-light">
		<div class="hero-body">
			<div class="container has-text-centered">
				<a href="https://bulma.io">
					<img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="171" height="32">
				</a>
				<div class="columns m-t-10">
					<div class="column">
						<nav class="has-text-grey-light">
							<a href="#" class="has-text-primary">About us</a> &bullet;
							<a href="#" class="has-text-primary">Our story</a> &bullet;
							<a href="#" class="has-text-primary">Post a listing</a> &bullet;
							<a href="#" class="has-text-primary">Contact us</a> &bullet;
						</nav>
					</div>
				</div>
				<div class="b-t m-t-30 p-t-30 has-text-grey-light is-size-7">
					Rent Template 2019 &copy; Aldi Duzha <br> <a href="#" class="has-text-primary">Terms of use</a> and <a class="has-text-primary" href="#">Privacy policy</a>.
					<a href="#" class="has-text-primary">Fair Housing</a>
				</div>
			</div>
		</div>
	</footer>
</div>
<script>
	var loadDeferredStyles = function() {
		var addStylesNode = document.getElementById("deferred-styles");
		var replacement = document.createElement("div");
		replacement.innerHTML = addStylesNode.textContent;
		document.body.appendChild(replacement)
		addStylesNode.parentElement.removeChild(addStylesNode);
	};
	var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
	window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
	if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
	else window.addEventListener('load', loadDeferredStyles);
</script>
<script>
	document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
            	el.addEventListener('click', () => {
                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
</body>
</html>
