<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login - Free Bulma template</title>
  <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/coming_soon.css">
</head>
<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <div class="center-text">
            <p class="title is-1">COMING SOON.</p>
            <button class="facebook-button button is-medium"><i class="fab fa-facebook-f"></i></button>
            <button class="twitter-button button is-medium"><i class="fab fa-twitter"></i></button>
            <button class="google-button button is-medium"><i class="fab fa-google-plus-g"></i></button>
            <button class="linkedin-button button is-medium"><i class="fab fa-linkedin-in"></i></button>
            <p class="subtitle is-4">Our website is under construction, but we are ready to go! Want to know more about us, tell us about your project or just to say hello? Contact us on social media and we will get back as soon as possible.</p><br>
            <form>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input is-medium" type="email" placeholder="Email">
                  <span class="icon is-medium is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-medium is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <a class="button is-info is-large is-fullwidth" href="https://github.com/aldi/awesome-bulma-templates" target="_blank">
                <span class="icon is-medium">
                  <i class="far fa-bell"></i>
                </span>
                <span>NOTIFY ME</span>
              </a>
            </br>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <div class="hero-foot">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li class="footer-text"><a href="https://www.aldiduzha.com" style="color:white;">Designed with <i class="fa fa-heart fa-fw" style="font-size: 12px; color:red; margin:0 5px 0 5px;"></i> by Aldi Duzha</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
</body>
</html>
