<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Awesome Bulma templates</title>
	<meta name="description" content="Free bulma templates">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<section class="hero is-large">
		<div class="hero-body">
			<div class="container title-container has-text-centered">
				<h1 class="title">
					Awesome Bulma Templates for Free
				</h1>
				<h2 class="subtitle">
					Based on the <a href="http://bulma.io">Bulma</a> CSS Framework
				</h2>
				<a class="github-button" href="https://github.com/aldi/awesome-bulma-templates"  data-size="large" aria-label="View dansup/bulma-templates on GitHub">View on Github</a>
				<a class="github-button" href="https://github.com/aldi/awesome-bulma-templates" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star dansup/bulma-templates on GitHub">Star</a>
				<a class="github-button" href="https://github.com/aldi/awesome-bulma-templates/fork" data-size="large" data-show-count="true" aria-label="Fork dansup/bulma-templates on GitHub">Fork</a>
			</div>
		</div>
	</section>

	<div class="container content-wrapper">
		<div class="columns">
			<div class="column is-6">
				<div class="card">
					<header class="card-header">
						<p class="card-header-title">
							<span>CV</span>
							<span class="is-pulled-right">
								<span class="tag is-default">Mobile</span>
								<span class="tag is-default">Desktop</span>
								<span class="tag is-info">v7.0</span>
								<span class="tag is-success">New</span>
							</span>
						</p>
					</header>
					<div class="card-content">
						<figure class="image">
							<img src="previews/cv.png" alt="CV template screenshot">
						</figure>
					</div>
					<footer class="card-footer">
						<a class="button card-footer-item" href="templates/cv.html">Preview</a>
						<a class="button card-footer-item" href="https://github.com/aldi/awesome-bulma-templates/blob/master/templates/cv.html">Source code</a>
					</footer>
				</div>
				<div class="card">
					<header class="card-header">
						<p class="card-header-title">
							<span>Coming Soon</span>
							<span class="is-pulled-right">
								<span class="tag is-default">Mobile</span>
								<span class="tag is-default">Desktop</span>
								<span class="tag is-info">v7.0</span>
								<span class="tag is-success">New</span>
							</span>
						</p>
					</header>
					<div class="card-content">
						<figure class="image">
							<img src="previews/coming_soon.png" alt="Coming Soon template screenshot">
						</figure>
					</div>
					<footer class="card-footer">
						<a href="templates/coming_soon.html" class="card-footer-item">Preview</a>
						<a href="https://github.com/aldi/awesome-bulma-templates/blob/master/templates/coming_soon.html" class="card-footer-item">Source Code</a>
					</footer>
				</div> 
				<div class="card">
					<header class="card-header">
						<p class="card-header-title">
							<span>Event Participation</span>
							<span class="is-pulled-right">
								<span class="tag is-default">Mobile</span>
								<span class="tag is-default">Desktop</span>
								<span class="tag is-info">v7.0</span>
								<span class="tag is-success">New</span>
							</span>
						</p>
					</header>
					<div class="card-content">
						<figure class="image">
							<img src="previews/event.png" alt="Event Participation template screenshot">
						</figure>
					</div>
					<footer class="card-footer">
						<a href="templates/event.html" class="card-footer-item">Preview</a>
						<a href="https://github.com/aldi/awesome-bulma-templates/blob/master/templates/event.html" class="card-footer-item">Source Code</a>
					</footer>
				</div>        
			</div>

			<div class="column is-6">
				<div class="card">
					<header class="card-header">
						<p class="card-header-title">
							<span>Hotel</span>
							<span class="is-pulled-right">
								<span class="tag is-default">Mobile</span>
								<span class="tag is-default">Desktop</span>
								<span class="tag is-info">v7.0</span>
								<span class="tag is-success">New</span>
							</span>
						</p>
					</header>
					<div class="card-content">
						<figure class="image">
							<img src="previews/hotel.png" alt="Hotel template screenshot">
						</figure>
					</div>
					<footer class="card-footer">
						<a class="button card-footer-item" href="templates/hotel.html">Preview</a>
						<a class="button card-footer-item" href="https://github.com/aldi/awesome-bulma-templates/blob/master/templates/hotel.html">Source code</a>
					</footer>
				</div>
				<div class="card">
					<header class="card-header">
						<p class="card-header-title">
							<span>Login Page</span>
							<span class="is-pulled-right">
								<span class="tag is-default">Mobile</span>
								<span class="tag is-default">Desktop</span>
								<span class="tag is-info">v7.0</span>
								<span class="tag is-success">New</span>
							</span>
						</p>
					</header>
					<div class="card-content">
						<figure class="image">
							<img src="previews/login.png" alt="Login Page template screenshot">
						</figure>
					</div>
					<footer class="card-footer">
						<a href="templates/login.html" class="card-footer-item">Preview</a>
						<a href="https://github.com/aldi/awesome-bulma-templates/blob/master/templates/login.html" class="card-footer-item">Source Code</a>
					</footer>
				</div>
			</div>

		</div>

		<div class="container content-wrapper">
			<div class="columns">
				<div class="column is-12">
					<div class="card">
						<div class="box">
							<p class="has-text-centered">More templates coming soon!</p>
						</div>
					</div>         
				</div>
			</div>
		</div>


	</div>
	<footer class="footer">
		<div class="container">
			<div class="content has-text-centered">
				<p>
					Designed with <i class="fa fa-heart" style="color:red;"></i> by <a href="https://github.com/aldi">Aldi Duzha</a>. The source code is licensed under
					<a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
				</p>
				<p>
					<a class="icon" href="https://github.com/aldi/awesome-bulma-templates">
						<i class="fa fa-github"></i>
					</a>
					<a class="icon" href="https://www.linkedin.com/in/aldiduzha/">
						<i class="fa fa-linkedin"></i>
					</a>
				</p>
			</div>
		</div>
	</footer>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
